docs/n8n-bsq-lead-workflow.json
{
  "name": "BSQ Lead Capture → Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bsq-lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "📥 BSQ Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bsq-lead-capture-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "name",
              "value": "={{ $json.lead.name }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "contactType",
              "value": "={{ $json.lead.contactType }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "contact",
              "value": "={{ $json.lead.contact }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "score",
              "value": "={{ $json.assessment.score }}",
              "type": "number"
            },
            {
              "id": "f6",
              "name": "statusLabel",
              "value": "={{ $json.assessment.statusLabel }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "riskLevel",
              "value": "={{ $json.assessment.riskLevel }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "gapCount",
              "value": "={{ $json.assessment.gaps.length }}",
              "type": "number"
            },
            {
              "id": "f9",
              "name": "gaps",
              "value": "={{ $json.assessment.gaps.map(g => g.title).join(', ') }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "agent",
              "value": "={{ $json.attribution.agent ?? 'direct' }}",
              "type": "string"
            },
            {
              "id": "f12",
              "name": "utmSource",
              "value": "={{ $json.attribution.utmSource ?? 'direct' }}",
              "type": "string"
            },
            {
              "id": "f13",
              "name": "utmMedium",
              "value": "={{ $json.attribution.utmMedium ?? 'organic' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "🔧 Extract Lead Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp":   "={{ $json.timestamp }}",
            "Name":        "={{ $json.name }}",
            "ContactType": "={{ $json.contactType }}",
            "Contact":     "={{ $json.contact }}",
            "Score":       "={{ $json.score }}",
            "Status":      "={{ $json.statusLabel }}",
            "Risk Level":  "={{ $json.riskLevel }}",
            "Gap Count":   "={{ $json.gapCount }}",
            "Gaps":        "={{ $json.gaps }}",
            "Source":      "={{ $json.source }}",
            "Agent":       "={{ $json.agent }}",
            "UTM Source":  "={{ $json.utmSource }}",
            "UTM Medium":  "={{ $json.utmMedium }}",
            "Follow Up":   "New",
            "Remarks":     ""
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "📊 Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [720, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Lead captured\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "✅ Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "📥 BSQ Lead Webhook": {
      "main": [
        [
          {
            "node": "🔧 Extract Lead Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Extract Lead Fields": {
      "main": [
        [
          {
            "node": "📊 Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Save to Google Sheets": {
      "main": [
        [
          {
            "node": "✅ Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false
}
