docs/n8n_agent_crm_workflow.json
{
  "name": "BSQ Assessment Leads — Per-Agent CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bsq-agent-crm",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook_filter_agent",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Normalize both payload types ──────────────────────────────────────\n// type: 'assessment' → from Send My Results (full assessment data)\n// type: 'click'      → from Talk to Advisor / Chat widget / Call button\n\nconst body       = $input.first().json.body ?? $input.first().json;\nconst type       = body.type        ?? 'click';\nconst lead       = body.lead        ?? {};\nconst assessment = body.assessment  ?? {};\nconst attribution= body.attribution ?? {};\nconst email      = body.email       ?? {};\n\n// Sanitize agent name to valid sheet tab name (max 100 chars, safe chars only)\nconst rawAgent = (attribution.agent ?? 'direct').toString().trim();\nconst agentTab = (rawAgent === '' ? 'direct' : rawAgent)\n  .replace(/[\\[\\]\\*\\?\\/\\\\:]/g, '_')\n  .slice(0, 100);\n\n// Flatten arrays → pipe-separated strings\nconst gaps = Array.isArray(assessment.gaps)\n  ? assessment.gaps.filter(Boolean).join(' | ')\n  : (assessment.gaps ?? '');\n\nconst recommendations = Array.isArray(assessment.recommendations)\n  ? assessment.recommendations.map(r => r.name ?? r).filter(Boolean).join(' | ')\n  : '';\n\nconst gapCount = Array.isArray(assessment.gaps)\n  ? assessment.gaps.filter(Boolean).length\n  : 0;\n\n// Human-readable source label\nconst source = (() => {\n  if (type === 'assessment') return 'Assessment Form';\n  const s = (body.source ?? '').toLowerCase();\n  if (s.includes('chat_launcher')) return 'Chat Widget';\n  if (s.includes('advisor_btn'))   return 'Talk to Advisor';\n  if (s.includes('call_btn'))      return 'Call Button';\n  return body.source ?? 'Unknown';\n})();\n\n// ── Output field names MUST match Google Sheet column headers exactly ──\nreturn [{\n  json: {\n    timestamp:       body.timestamp ?? new Date().toISOString(),\n    name:            lead.name        ?? '',\n    contactType:     lead.contactType ?? '',\n    contact:         lead.contact     ?? '',\n    score:           assessment.score       ?? '',\n    statusLabel:     assessment.statusLabel ?? '',\n    riskLevel:       assessment.riskLevel   ?? '',\n    gapCount,\n    gaps,\n    source,\n    Agent:           attribution.agent     ?? 'direct',\n    'UTM Source':    attribution.utmSource ?? 'direct',\n    'UTM Medium':    attribution.utmMedium ?? 'organic',\n    type,\n    message:         lead.message  ?? '',\n    platform:        lead.platform ?? '',\n    recommendations,\n    // ── Internal routing — NOT written to sheet ──\n    _agentTab:      agentTab,\n    _spreadsheetId: '1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ',\n  }\n}];"
      },
      "id": "node-prepare",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "node-get-sheets",
      "name": "Get Sheet List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if a tab named after the agent already exists\nconst prepData  = $('Prepare Data').first().json;\nconst agentTab  = prepData._agentTab;\nconst sheetMeta = $input.first().json;\nconst sheets    = sheetMeta.sheets ?? [];\n\nconst tabExists = sheets.some(\n  s => (s.properties?.title ?? '').toLowerCase() === agentTab.toLowerCase()\n);\n\n// Pass through all prep data + routing flags\nreturn [{ json: { ...prepData, tabExists } }];"
      },
      "id": "node-check-tab",
      "name": "Check Tab Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.tabExists }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-if",
      "name": "Tab Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: [{ addSheet: { properties: { title: $('Check Tab Exists').first().json._agentTab } } }] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-create-tab",
      "name": "Create Agent Tab",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "jsCode": "// After tab creation (or if it already existed), pass data through cleanly\n// Remove internal routing fields before writing to sheet\nconst d = $('Check Tab Exists').first().json;\nconst { _agentTab, _spreadsheetId, tabExists, ...sheetRow } = d;\nreturn [{ json: { ...sheetRow, _agentTab, _spreadsheetId } }];"
      },
      "id": "node-clean",
      "name": "Clean Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json._agentTab }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "node-write-agent",
      "name": "Write to Agent Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Assessment_Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "node-write-master",
      "name": "Write to Master Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }"
      },
      "id": "node-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Webhook_filter_agent": {
      "main": [[{ "node": "Prepare Data",     "type": "main", "index": 0 }]]
    },
    "Prepare Data": {
      "main": [[{ "node": "Get Sheet List",   "type": "main", "index": 0 }]]
    },
    "Get Sheet List": {
      "main": [[{ "node": "Check Tab Exists", "type": "main", "index": 0 }]]
    },
    "Check Tab Exists": {
      "main": [[{ "node": "Tab Exists?",      "type": "main", "index": 0 }]]
    },
    "Tab Exists?": {
      "main": [
        [{ "node": "Clean Data",        "type": "main", "index": 0 }],
        [{ "node": "Create Agent Tab",  "type": "main", "index": 0 }]
      ]
    },
    "Create Agent Tab": {
      "main": [[{ "node": "Clean Data",       "type": "main", "index": 0 }]]
    },
    "Clean Data": {
      "main": [[{ "node": "Write to Agent Tab", "type": "main", "index": 0 }]]
    },
    "Write to Agent Tab": {
      "main": [[{ "node": "Write to Master Sheet", "type": "main", "index": 0 }]]
    },
    "Write to Master Sheet": {
      "main": [[{ "node": "Respond OK",       "type": "main", "index": 0 }]]
    }
  }
}
