docs/n8n_agent_crm_workflow.json
{
  "name": "BSQ Assessment Leads — Per-Agent CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bsq-assessment-lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook_filter_agent",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Normalize both payload types into one flat structure ──\n// type: 'assessment' → from Send My Results\n// type: 'click'      → from Talk to Advisor, Chat widget, Call button\n\nconst body = $input.first().json.body ?? $input.first().json;\n\nconst type        = body.type        ?? 'click';\nconst lead        = body.lead        ?? {};\nconst assessment  = body.assessment  ?? {};\nconst attribution = body.attribution ?? {};\nconst email       = body.email       ?? {};\n\n// Agent tab name — sanitize to safe sheet name\nconst rawAgent = (attribution.agent ?? 'direct').toString().trim();\nconst agentTab = rawAgent === '' ? 'direct' : rawAgent.replace(/[^a-zA-Z0-9_\\-\\.]/g, '_').slice(0, 100);\n\n// Flatten arrays to pipe-separated strings for sheet columns\nconst gaps = Array.isArray(assessment.gaps)\n  ? assessment.gaps.join(' | ')\n  : '';\n\nconst recs = Array.isArray(assessment.recommendations)\n  ? assessment.recommendations.map(r => r.name ?? r).join(' | ')\n  : '';\n\n// Determine readable source label\nconst sourceLabel = (() => {\n  if (type === 'assessment') return 'Assessment Form';\n  const s = (body.source ?? '').toLowerCase();\n  if (s.includes('chat_launcher'))  return 'Chat Widget';\n  if (s.includes('advisor_btn'))    return 'Talk to Advisor';\n  if (s.includes('call_btn'))       return 'Call Button';\n  return body.source ?? 'Unknown';\n})();\n\nreturn [{\n  json: {\n    // ── Flat row for Google Sheets ──\n    timestamp:       body.timestamp ?? new Date().toISOString(),\n    type:            type,\n    source:          sourceLabel,\n    name:            lead.name        ?? '',\n    contactType:     lead.contactType ?? '',\n    contact:         lead.contact     ?? '',\n    message:         lead.message     ?? '',\n    platform:        lead.platform    ?? '',\n    score:           assessment.score       ?? '',\n    statusLabel:     assessment.statusLabel ?? '',\n    riskLevel:       assessment.riskLevel   ?? '',\n    gaps,\n    recommendations: recs,\n    agent:           attribution.agent     ?? 'direct',\n    utmSource:       attribution.utmSource ?? 'direct',\n    utmMedium:       attribution.utmMedium ?? 'organic',\n    emailSubject:    email.subject ?? '',\n    // ── Internal routing ──\n    agentTab,\n    spreadsheetId: '1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ',\n    masterTab:     'Assessment_Leads',\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "get-sheets",
      "name": "Assessment_Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if a tab named after the agent already exists\nconst agentTab   = $('Prepare Data').first().json.agentTab;\nconst sheetsData = $input.first().json;\nconst sheets     = sheetsData.sheets ?? [];\n\nconst exists = sheets.some(\n  s => (s.properties?.title ?? '').toLowerCase() === agentTab.toLowerCase()\n);\n\nreturn [{ json: { ...($('Prepare Data').first().json), tabExists: exists } }];"
      },
      "id": "check-tab",
      "name": "Check Tab Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.tabExists }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-tab-exists",
      "name": "Tab Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...($('Check Tab Exists').first().json), needsHeaders: true } }];"
      },
      "id": "prep-create-tab",
      "name": "Prep Create Tab",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: [{ addSheet: { properties: { title: $('Check Tab Exists').first().json.agentTab } } }] }) }}",
        "options": {}
      },
      "id": "create-tab",
      "name": "Create Agent Tab",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 460]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Check Tab Exists').first().json.agentTab }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date":            "={{ $('Check Tab Exists').first().json.timestamp }}",
            "Type":            "={{ $('Check Tab Exists').first().json.type }}",
            "Source":          "={{ $('Check Tab Exists').first().json.source }}",
            "Name":            "={{ $('Check Tab Exists').first().json.name }}",
            "Contact Type":    "={{ $('Check Tab Exists').first().json.contactType }}",
            "Contact":         "={{ $('Check Tab Exists').first().json.contact }}",
            "Message":         "={{ $('Check Tab Exists').first().json.message }}",
            "Platform":        "={{ $('Check Tab Exists').first().json.platform }}",
            "Score":           "={{ $('Check Tab Exists').first().json.score }}",
            "Status":          "={{ $('Check Tab Exists').first().json.statusLabel }}",
            "Risk Level":      "={{ $('Check Tab Exists').first().json.riskLevel }}",
            "Gaps":            "={{ $('Check Tab Exists').first().json.gaps }}",
            "Recommendations": "={{ $('Check Tab Exists').first().json.recommendations }}",
            "UTM Source":      "={{ $('Check Tab Exists').first().json.utmSource }}",
            "UTM Medium":      "={{ $('Check Tab Exists').first().json.utmMedium }}"
          }
        },
        "options": { "valueInputMode": "USER_ENTERED" }
      },
      "id": "write-agent-tab",
      "name": "Write to Agent Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gEa5mu9d4ZHZBX_oi1eSKbzoG9tlyJKh-uNFaUCYxzQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Assessment_Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date":            "={{ $('Check Tab Exists').first().json.timestamp }}",
            "Type":            "={{ $('Check Tab Exists').first().json.type }}",
            "Source":          "={{ $('Check Tab Exists').first().json.source }}",
            "Name":            "={{ $('Check Tab Exists').first().json.name }}",
            "Contact Type":    "={{ $('Check Tab Exists').first().json.contactType }}",
            "Contact":         "={{ $('Check Tab Exists').first().json.contact }}",
            "Message":         "={{ $('Check Tab Exists').first().json.message }}",
            "Platform":        "={{ $('Check Tab Exists').first().json.platform }}",
            "Score":           "={{ $('Check Tab Exists').first().json.score }}",
            "Status":          "={{ $('Check Tab Exists').first().json.statusLabel }}",
            "Risk Level":      "={{ $('Check Tab Exists').first().json.riskLevel }}",
            "Gaps":            "={{ $('Check Tab Exists').first().json.gaps }}",
            "Recommendations": "={{ $('Check Tab Exists').first().json.recommendations }}",
            "Agent":           "={{ $('Check Tab Exists').first().json.agent }}",
            "UTM Source":      "={{ $('Check Tab Exists').first().json.utmSource }}",
            "UTM Medium":      "={{ $('Check Tab Exists').first().json.utmMedium }}"
          }
        },
        "options": { "valueInputMode": "USER_ENTERED" }
      },
      "id": "write-master",
      "name": "Write to Master Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Webhook_filter_agent": {
      "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]]
    },
    "Prepare Data": {
      "main": [[{ "node": "Assessment_Leads", "type": "main", "index": 0 }]]
    },
    "Assessment_Leads": {
      "main": [[{ "node": "Check Tab Exists", "type": "main", "index": 0 }]]
    },
    "Check Tab Exists": {
      "main": [[{ "node": "Tab Exists?", "type": "main", "index": 0 }]]
    },
    "Tab Exists?": {
      "main": [
        [{ "node": "Write to Agent Tab", "type": "main", "index": 0 }],
        [{ "node": "Prep Create Tab",    "type": "main", "index": 0 }]
      ]
    },
    "Prep Create Tab": {
      "main": [[{ "node": "Create Agent Tab", "type": "main", "index": 0 }]]
    },
    "Create Agent Tab": {
      "main": [[{ "node": "Write to Agent Tab", "type": "main", "index": 0 }]]
    },
    "Write to Agent Tab": {
      "main": [[{ "node": "Write to Master Sheet", "type": "main", "index": 0 }]]
    },
    "Write to Master Sheet": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  }
}
